import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
  } from "@/components/ui/card"
  import PropTypes from 'prop-types';


const QuestionCard = (props) => {

    const {cardTitle, cardDescription, cardContent, cardFooter, isVisible} = props

    return (
        <>
            {isVisible && (
                <Card>
                <CardHeader>
                <CardTitle>{cardTitle}</CardTitle>
                <CardDescription>{cardDescription}</CardDescription>
                </CardHeader>
                <CardContent>
                <p>{cardContent}</p>
                </CardContent>
                <CardFooter>
                <p>{cardFooter}</p>
                </CardFooter>
                </Card>
            )}
        </>
      
  );
};

QuestionCard.propTypes = {
    cardTitle: PropTypes.string,
    cardDescription: PropTypes.string,
    cardContent: PropTypes.string,
    cardFooter: PropTypes.string,
    isVisible: PropTypes.bool
};
  

export default QuestionCard;
